@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 30fr 200fr;
}

.main {
  background-color: rgb(228, 228, 228);
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 50fr 50fr 50fr;
}

.sidebar {
  padding-left: 3vh;
  padding-right: 3vh;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  background-color: #0ea5e9;
  color: white;
  height: 100vh;
}

.topbar {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top {
  display: flex;
}

.bottom {
  display: flex;
}

.menu1 {
  padding-top: 40px;
}

.menu2 {
  padding-top: 40px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.item {
  display: flex;
  align-items: center;
}

.item img {
  height: 24px;
  padding: 12px;
}

.projects {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-columns: 1fr 1fr;
}

.spacer {
  padding-top: 2vh;
}

.card {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.announcements {
  padding: 10px;
}

.notice {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.trending {
  padding: 10px;
}

.user {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.titleA {
  margin: 10px;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons img {
  height: 24px;
  padding-left: 24px;
}

.user {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.searchbar {
  background-color: rgb(228, 228, 228);
  width: 60rem;
  border-radius: 30px;
}