@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 30fr 200fr;
}

.main {
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 50fr 50fr 50fr;
}

.sidebar {
  padding: 15px;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  background-color: #0ea5e9;
  color: white;
  height: 100vh;
}

.topbar {
  display: flex;
}

.menu1 {
  padding-top: 40px;
}

.menu2 {
  padding-top: 40px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.item {
  display: flex;
  align-items: center;
}

.item img {
  height: 24px;
  padding: 12px;
}

.projects {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-columns: 1fr 1fr;
}